html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top, #363636, #DCDCDC );
    font-family: fantasy;
    font-size: 18px;
}

.hidden {
    display: none;
}

#hero {
    grid-template-columns: repeat(1, 1fr);
    height: 200px;
    width: 100%;
}

#products {
    grid-template-columns: repeat(1, 1fr);
    height: 300px;
    width: 100%;
}

.grid-con {
   display: grid;
   grid-template-columns: repeat(4, minmax(0, 1fr));
   max-width: 1200px;
   margin: 0 auto;

}

.desktop-only{
    display: none;
}

#services .box {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-nav {
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 768px) {
    #hero {
        height: 180px;
        width: 100%;
    }

    .desktop-only{
        display: none;
    }
    

    #products {
        grid-template-columns: repeat(12, 1fr);
        height: 250px;
        width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        max-width: 1200px;
        
    }

    #footer-nav {
        height: 180px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
}

@media screen and (min-width: 1200px) {
    #hero {
        height: 200px;
        max-width: 1200px;
        margin: auto;
    } 

    #products {
        grid-template-columns: repeat(12, 1fr); 
        height: 400px;
    }

    .grid-con {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        max-width: 1200px;
    }

    .desktop-only {
        display: flex;
        text-align: center;
        height: 600px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #footer-nav {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;;
    }
}